<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nothing</title>
</head>
<body>
    <h3>locals</h3>
    
    <% if (typeof user == 'object' && user) { %>
        <form action="/logout" method="POST">
            <button type="submit" style="background:none!important;border:none;color:red;">logout</button>
        </form>
        <%- user %>
    <% } %>

    <br>
    <p>Locals:</p>
    <%- JSON.stringify(locals) %>

</body>
</html>