#nav-bar {
    float: left;
}

#header-bottom-right {
    float: right;
}

.clear-float {
    clear: both;
}

.inline, nav.TabMenu {
    display: inline;
}

h4.title {
    text-decoration: overline;
}