<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Account</title>
</head>

<body>
    <b>Create Account</b>
    <br>
    <br>
    <form method="post" action="/signup">
        <label for="username">username: </label>
        <input type="text" name="username" size="20" autocorrect="off" spellcheck="false" autocapitalize="off">
        <br>
        <label for="password">password: </label>
        <input type="password" name="password" size="20">
        <br>
        <label for="passwordConfirmation">re-enter password: </label>
        <input type="password" name="passwordConfirmation" size="20">
        <br>
        <% if (error) { %>
            <strong class="errorMessage" style="color:red; display: none;" ><%= error %></strong>
        <% } %>
        <br>
        <input type="submit" value="create account">
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $('.errorMessage')
        .fadeIn(1000)
        .delay(1000)
        .fadeOut(1000);
    </script>

</body>

</html>