<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User: </title>
</head>

<body>
    <h3>Users list...</h3>
    <ul class="items">
        <% for(var i=0; i<items.length; i++) {%>
            <li class="items">
                <a href="/items/<%= items[i].item %>">
                    <%= items[i].item %>
                </a>
            </li>
        <% } %>
    </ul>
    <form action="/items" method="post">
        <input type="text" name="item" id="item" placeholder="add item...">
        <input type="submit" value="submit">
    </form>
</body>

</html>