<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title><%= user.username %>'s new post</title>
</head>

<body>
    <%- include('../header') -%>
    <h3>Submit a new post:</h3>
    <hr>
    <p>
        Speak your mind. The key to a successful submission is interesting content and a descriptive title.
    </p>
    <form action="/users/<%= username %>/posts/" method="post">
        <textarea name="title" id="title" cols="70" rows="2" placeholder="Title"></textarea>
        <br>
        <textarea name="text" id="text" cols="70" rows="10" placeholder="Text"></textarea>
        <br>
        <input type="submit" value="submit">
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>